# Environment variables go here, can be read by `python-dotenv` package:
#
#   `src/configure.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!

# path to root dir
ROOT_DIR="/path/to/human_me/"

# cloud data access (google drive)
# file ID in google drive to raw data
FOLDER_ID="1NL46iZdIr-z-x_86wHY2Mul9OUJtc02q"
FILE_NAME="data"

# local data path - download data will generate if not present
LOCAL_DATA_PATH="/path/to/data_dir/"

# number of cores to use in parallelization
NO_CORES="8"

#INPUTS (will later change this to command line inputs)
INPUT_MODEL="/path/to/recon2_2.json"
INPUT_PSIM="/path/to/psim_recon2_2.csv"
INPUT_NON_MACHINERY="/path/to/non_machinery.txt"
