# Environment variables go here, can be read by `python-dotenv` package:
#
#   `src/configure.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!

# path to root dir
ROOT_DIR="path/to/CD8T_RA/"

# cloud data access (google drive)
# file ID in google drive to raw data
FOLDER_ID="google_drive_rawdata_file_id"
FILE_NAME="data"

# local data path
LOCAL_DATA_PATH="path/to/data/"

EMAIL="username@email.edu"
