**/*.json
**/*.pyc

**/__pycache__/
**/.ipynb_checkpoints/

**/fort.11
**/fort.8
**/fort.9
**/.flake8
**/.pylintrc

*.env
.env_template

project_files/
data/
notebooks/.pybiomart.sqlite
test_code/
me_env/
MammalianSecretoryRecon/



