**/*.json
**/*.pyc
**/*.pickle
**/*.vscode/

**/__pycache__/
**/.ipynb_checkpoints/

**/fort.11
**/fort.8
**/fort.9

# config files
**/setup.cfg
# **/.mypy.ini
# **/.flake8
# **/.pylintrc
# **/.isort.cfg
# **/.pydocstyle

*.env
.env_template

project_files/
data/
notebooks/.pybiomart.sqlite
test_code/
me_env/
MammalianSecretoryRecon/



