# Byte-compiled / optimized / DLL files
*.env
.env_template
*.json
**/fort.11
**/fort.8
**/fort.9
project_files/
data/
notebooks/.pybiomart.sqlite
**/__pycache__/
me_env/
MammalianSecretoryRecon/
**/*.pyc


# Jupyter NB Checkpoints
**/.ipynb_checkpoints/

