#python==3.6.9
pathos==0.2.7
cmake==3.18.2
cython==0.29.20
more-itertools==8.4.0
numpy==1.19.5
pandas==1.1.5#1.0.5
python-dotenv==0.14.0
scipy==1.5.4#1.4.1
six==1.16.0#1.15.0
statsmodels==0.10.2
sympy==1.9
tqdm==4.62.3#4.47.0
cobra==0.18.1
xlrd==1.2.0
requests==2.26.0#2.25.0
tables==3.6.1
matplotlib==3.3.4#3.3.3
seaborn==0.11.2#0.11.1
biopython==1.79
Faker==8.5.1
#make==4.1 # didn't need this on mine, but those that don't have make may need it


